<div class="container-fluid">
  <div class="row page-margin">
    <div class="col-9">
      <span> You have {{ totalLoan | async }} Personal Loans</span>
    </div>
    <div class="col-lg-3" style="background-color: lightgray">
      With 3 or more current personal loan
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row page-margin mt-5" *ngFor="let loanDetail of loanDetailList | async">
    <div class="col-9">
      <app-loan-details [LoanDetail]='loanDetail'></app-loan-details>
    </div>
  </div>
  <!-- <div class="row page-margin mt-5">
    <div class="col-9">
      <app-loan-details></app-loan-details>
    </div>
  </div>
  <div class="row page-margin mt-5">
    <div class="col-9">
      <app-loan-details></app-loan-details>
    </div>
  </div> -->
</div>