<div class="container-fluid">
  <div class="row page-margin">
    <div class="col-12">
      <h4>Personal Loan Topup or Apply</h4>
    </div>
  </div>
  <hr>
  <div class="row page-margin">
    <div class="col-5">
      To apply for a Topup of an existing loan amount, please select the loan below, make note of the carry-over amount
      before proceeding.
    </div>
    <div class="col-3">
      Carryover / Payout Amount
    </div>
    <div class="col-1 vertical-border">
      <span class="bold">{{ totalPayoutCarryOverAmount | async | currency}}</span>
    </div>
    <div class="col-lg-3">
      <button type="button" [disabled]= '(totalPayoutCarryOverAmount | async) == 0' class="btn btn-secondary btn-block">Apply for Increased Loan Amounts</button>
    </div>
  </div>
  <hr>
  <div class="row page-margin ">
    <div class="col-9 vertical-border">

    </div>
    <div class="col-lg-3">
      <button type="button" [disabled]= '(totalLoan | async) == maxNumberOfLoans' class="btn btn-secondary btn-block">Apply for new Personal Loan</button>
    </div>
  </div>
  <hr>
</div>
<app-loan-sub-header></app-loan-sub-header>  